.stack {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
}

.space-xsmall > :not(:first-child) {
  margin-top: var(--rs-space-xsmall);
}

.space-small > :not(:first-child) {
  margin-top: var(--rs-space-small);
}

.space-medium > :not(:first-child) {
  margin-top: var(--rs-space-medium);
}

.space-large > :not(:first-child) {
  margin-top: var(--rs-space-large);
}
