.button {
  appearance: none;
  border: none;
  padding: calc(var(--rs-space-medium) - 2px) var(--rs-space-medium);
  font-size: var(--rs-font-size-body-l);
  line-height: 1.25;
  font-weight: var(--rs-font-weight-medium);
  border-radius: var(--rs-border-radius);
  transition: all var(--rs-timing);
  background-color: var(--rs-btn-idle-fill);
  color: var(--rs-btn-idle-text);
}

.variant-primary {
  --rs-btn-idle-fill: var(--rs-btn-primary-idle-fill);
  --rs-btn-idle-text: var(--rs-btn-primary-text);
  --rs-btn-hover-fill: var(--rs-btn-primary-hover-fill);
  --rs-btn-active-fill: var(--rs-btn-primary-active-fill);
}

.variant-secondary {
  --rs-btn-idle-fill: var(--rs-btn-secondary-idle-fill);
  --rs-btn-idle-text: var(--rs-btn-secondary-text);
  --rs-btn-hover-fill: var(--rs-btn-secondary-hover-fill);
  --rs-btn-active-fill: var(--rs-btn-secondary-active-fill);
}

.size-compact{
  width: 100%;
  padding: calc(var(--rs-space-small) + 2px) calc(var(--rs-space-medium) - var(--rs-space-xsmall));
  font-size: var(--rs-font-size-body);
  line-height: 1.15;
}

.button:not(:disabled):hover,
.button:not(:disabled):focus{
  background-color: var(--rs-btn-hover-fill);
}

.button:not(:disabled):active {
  background-color: var(--rs-btn-active-fill);
}

.button-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}



