.button {
  --webkit-appearance: none;

  font-family: inherit;
  color: oklch(var(--rs-button-primary-content));
  background-color: oklch(var(--rs-button-primary-fill));
  padding: calc( var(--rs-space-xsmall) + 1px) var(--rs-space-medium);
  border-radius: var(--rs-border-radius-full);
  font-weight: var(--rs-font-weight-semibold);
  border: none;
  transition: all var(--rs-timing);
}

.button:hover,
.button:focus{
  background-color: oklch(var(--rs-button-primary-fill-hover));
}

.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.button-content {
  width: 100%;
}

