.label {
  color: var(--rs-color-content-tertiary);
  display: flex;
  font-size: var(--rs-font-size-body);
  line-height: 1;
  position: absolute;
  pointer-events: none;
  top: 50%;
  transform: translateY(-45%);
  left: var(--rs-space-small);
  transform-origin: left top;
  transition: transform var(--rs-timing);
}

.field-message {
  font-size: var(--rs-font-size-caption);
  padding-left: var(--rs-space-xsmall);
}

.input-container {
  position: relative;
  width: 100%;
  border: 2px solid transparent;
  border-radius: var(--rs-border-radius);
  background-color: var(--rs-input-idle-fill);
  transition: transform, border-color var(--rs-timing);
  overflow: hidden;
}

.input-container > input {
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  color: var(--rs-color-content-primary);
  font-size: var(--rs-font-size-body) !important;
  flex: 1;
  outline: none;
  width: 100%;
  margin: 0;
  line-height: 20px;
  padding: calc(var(--rs-space-medium) - var(--rs-space-xsmall)) 0 calc(var(--rs-space-small) + 2px) var(--rs-space-small);
}

.input-container > input:not(:placeholder-shown) ~ label {
  transform: translateY(-125%) scale(.9);
}

.input-container > input:not(:placeholder-shown) {
  padding: calc(var(--rs-space-medium))  0 calc(var(--rs-space-small) - 2px) var(--rs-space-small);
}

.input-container:focus-within {
  border: 2px solid var(--rs-color-border-primary);
  background-color: var(--rs-input-focus-fill);
}

.tone-negative {
  color: var(--rs-color-content-negative);
}

.border-negative {
  border-color: var(--rs-color-border-negative);
}