.label {
  display: flex;
  font-size: var(--rs-font-size-body);
  line-height: 1;
  position: absolute;
  pointer-events: none;
  top: 50%;
  transform: translateY(-45%);
  left: var(--rs-space-small);
  transform-origin: left top;
  transition: transform var(--rs-timing);
  color: var(--rs-color-content-tertiary);
}

.field-message {
  font-size: var(--rs-font-size-caption);
  padding-left: var(--rs-space-micro);
}

.input-container {
  position: relative;
  width: 100%;
  border: 2px solid transparent;
  border-radius: var(--rs-border-radius-full);
  background-color: var(--rs-input-idle-fill);
  transition: transform, border-color var(--rs-timing);
  overflow: hidden;
}

.input-container > input {
  color: var(--rs-color-content-primary);
  flex: 1;
  outline: none;
  box-sizing: border-box;
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: var(--font-size-caption) !important;
  margin: 0;
  line-height: 20px;

  /* padding: calc(var(--rs-space-medium) + 1px) 0 calc(var(--rs-space-medium) - 1px) var(--rs-space-medium);; */
  padding: calc(12px + 2px) 0 calc(10px) 8px;
}

.input-container > input:not(:placeholder-shown) ~ label {
  transform: translateY(-125%) scale(.9);
}

.input-container > input:not(:placeholder-shown) {
  /* padding: calc(var(--rs-space-medium) - 2px) 0  var(--rs-space-micro) var(--rs-space-small); */
  padding: 18px 0 6px 8px;
}

.input-container:focus-within {
  border: 2px solid var(--rs-color-border-primary);
  background-color: var(--rs-input-focus-fill);
}

.tone-negative {
  color: var(--rs-color-content-negative);
}

.border-negative {
  border-color: var(--rs-color-border-negative);
}