.button-show {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  appearance: none;
  border: none;
  color: oklch(var(--rs-primary-content));
  background-color: transparent;
  padding: calc( var(--rs-space-xsmall) + 1px) var(--rs-space-medium);
  border-radius: var(--rs-border-radius-full);
  font-weight: var(--rs-font-weight-semibold);
  transition: all var(--rs-timing);
  font-size: var(--rs-font-size-body);
}
