.stack {
  display: flex;
  flex-direction: column;
  position: relative;
}

.space-micro > :not(:first-child) {
  margin-top: var(--rs-space-micro);
}

.space-xsmall > :not(:first-child) {
  margin-top: var(--rs-space-xsmall);
}

.space-small > :not(:first-child) {
  margin-top: var(--rs-space-small);
}

.space-medium > :not(:first-child) {
  margin-top: var(--rs-space-medium);
}

.space-large > :not(:first-child) {
  margin-top: var(--rs-space-large);
}

.space-xlarge > :not(:first-child) {
  margin-top: var(--rs-space-xlarge);
}

.space-xxlarge > :not(:first-child) {
  margin-top: var(--rs-space-xxlarge);
}
