.surface {
  width: 350px;
  border: 1px solid oklch(var(--rs-color-border-default));
  border-radius: var(--rs-border-radius-full);
  background-color: oklch(var(--rs-fill-on-background));
  padding: var(--rs-space-xlarge) 0;
}

.stretch {
  margin-left: var(--rs-space-xxlarge);
  margin-right: var(--rs-space-xxlarge);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 0 0 auto;
}
