:root {
  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;

  --rs-font-weight-normal: 400;
  --rs-font-weight-semibold: 700;
  --rs-font-weight-bold: 900;

  --font-size-header: 2.4rem;
  --font-size-body: 1.6rem;
  --font-size-caption: 1.2rem;

  --rs-space-micro: 2px;
  --rs-space-xsmall: 4px;
  --rs-space-small: 8px;
  --rs-space-medium: 16px;
  --rs-space-large: 24px;
  --rs-space-xlarge: 36px;
  --rs-space-xxlarge: 40px;

  --rs-border-radius-micro: 2px;
  --rs-border-radius-standart: 4px;
  --rs-border-radius-full: 8px;

  --rs-button-primary-fill: 0, 149, 246;
  --rs-button-primary-hover: 24, 119, 242;
  --rs-button-primary-content: 255, 255, 255;

  font-family: var(--font-family);
  line-height: 1.5;
  font-size: 62.5%;
  font-weight: var(--rs-font-weight-normal);
  color: var(--color-content);
  background-color: var(--fill-surface);
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  text-rendering: optimizeSpeed;

  font-size: var(--font-size-body);
}

/** Text **/


@media (prefers-color-scheme: dark) {
  :root {
    --color-content-primary: #262626;
    --rs-color-content-secondary: 142, 142, 142;
    --color-content-negative: red;
    --fill-surface: #fff;
    --fill-on-surface: #fafafa;
    --rs-color-separator: #ddd;
  }

  a:hover {
    color: #747bff;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-content-primary: #262626;
    --rs-color-content-secondary: 142, 142, 142;
    --color-content-negative: red;
    --fill-surface: #fff;
    --fill-on-surface: #fafafa;
    --rs-color-separator: #ddd;
  }
  a:hover {
    color: #747bff;
  }

}

input,
button,
textarea,
select {
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}


h1{
  font-size: 2.4rem;
  margin-bottom: var(--rs-space-medium);
}