:root {
  --font-family: system-ui, "Helvetica Neue", helvetica, arial, sans-serif;
  --rs-font-weight-normal: 400;
  --rs-font-weight-medium: 500;
  --rs-font-size-header: 2.4rem;
  --rs-font-size-body-l: 1.6rem;
  --rs-font-size-body: 1.4rem;
  --rs-font-size-caption: 1.2rem;
  --rs-space-xsmall: 4px;
  --rs-space-small: 8px;
  --rs-space-medium: 16px;
  --rs-space-large: 24px;
  --rs-border-radius: 8px;
  --rs-timing: ease-out 0.1s;
  --rs-palette-accent: oklch(66.64% 0.16 261.66);
  --rs-palette-black: oklch(0% 0 0);
  --rs-palette-black-alt: oklch(28% 0 0);
  --rs-palette-white: oklch(100% 0 0);
  --rs-palette-red: oklch(58% 0.228 30.54);
  --rs-palette-gray900: oklch(19% 0 0);
  --rs-palette-gray700: oklch(32% 0 0);
  --rs-palette-gray600: oklch(44.5% 0 0);
  --rs-palette-gray500: oklch(53% 0 0);
  --rs-palette-gray200: oklch(91% 0 0);
  --rs-palette-gray100: oklch(95% 0 0);
  --rs-palette-gray50: oklch(97.31% 0 0);

  font-size: 62.5%;
  font-family: var(--font-family);
  line-height: 1.5;
  font-weight: var(--rs-font-weight-normal);
  background-color: var(--rs-fill-background);
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;
}


@media (prefers-color-scheme: dark) {
  :root {
    --rs-fill-background: var(--rs-palette-gray900);
    --rs-color-content-primary: var(--rs-palette-white);
    --rs-color-content-secondary: var(--rs-palette-gray600);
    --rs-color-content-tertiary: var(--rs-palette-gray500);
    --rs-color-content-negative: var(--rs-palette-red);
    --rs-color-border-primary: var(--rs-palette-gray200);
    --rs-color-border-negative: var(--rs-palette-red);
    --rs-link-color-idle: var(--rs-palette-black);
    --rs-link-color-hover: var(--rs-palette-gray600);
    --rs-link-color-visited: var(--rs-palette-gray700);
    --rs-link-color-active: var(--rs-palette-gray500);
    --rs-link-color-underline: var(--rs-palette-gray600);
    --rs-input-idle-fill: var(--rs-palette-black-alt);
    --rs-input-focus-fill: var(--rs-palette-gray700);
    --rs-btn-primary-idle-fill: var(--rs-palette-gray200);
    --rs-btn-primary-text: var(--rs-palette-black);
    --rs-btn-primary-hover-fill: var(--rs-palette-gray100);
    --rs-btn-primary-active-fill: var(--rs-palette-gray200);
    --rs-btn-secondary-idle-fill: transparent;
    --rs-btn-secondary-text: var(--rs-palette-white);
    --rs-btn-secondary-hover-fill: var(--rs-palette-gray700);
    --rs-btn-secondary-active-fill: var(--rs-palette-gray600);
    --rs-spinner-fill: var(--rs-palette-gray700);
    --rs-spinner-tint: var(--rs-palette-accent);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --rs-fill-background: var(--rs-palette-white);
    --rs-color-content-primary: var(--rs-palette-black);
    --rs-color-content-secondary: var(--rs-palette-gray600);
    --rs-color-content-tertiary: var(--rs-palette-gray500);
    --rs-color-content-negative: var(--rs-palette-red);
    --rs-color-border-primary: var(--rs-palette-black);
    --rs-color-border-negative: var(--rs-palette-red);
    --rs-link-color-idle: var(--rs-palette-black);
    --rs-link-color-hover: var(--rs-palette-gray600);
    --rs-link-color-visited: var(--rs-palette-gray700);
    --rs-link-color-active: var(--rs-palette-gray500);
    --rs-link-color-underline: var(--rs-palette-gray600);
    --rs-input-idle-fill: var(--rs-palette-gray100);
    --rs-input-focus-fill: var(--rs-palette-gray50);
    --rs-btn-primary-idle-fill: var(--rs-palette-black);
    --rs-btn-primary-text: var(--rs-palette-white);
    --rs-btn-primary-hover-fill: var(--rs-palette-gray700);
    --rs-btn-primary-active-fill: var(--rs-palette-gray600);
    --rs-btn-secondary-idle-fill: transparent;
    --rs-btn-secondary-text: var(--rs-palette-black);
    --rs-btn-secondary-hover-fill: var(--rs-palette-gray50);
    --rs-btn-secondary-active-fill: var(--rs-palette-gray100);
    --rs-spinner-fill: var(--rs-palette-gray100);
    --rs-spinner-tint: var(--rs-palette-accent);
  }
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-size: var(--rs-font-size-body-l);
  line-height: 1.5;
}

input,
button,
textarea,
select {
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

h1 {
  font-size: var(--rs-font-size-header);
  font-weight: var(--rs-font-weight-normal);
}

h1, h2, h3, h4 {
  line-height: 1.25;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fullscreen {
  width: 100vw;
  height: 100vh;
}

.query-container {
  container: card / inline-size;
  width: 100%;
}

.container {
  width: 352px;
  margin: auto;
  padding: 0 16px;
}

@container (max-width: 480px) {
  .container {
    width: 100%;
  }
}

