:root {
  --font-family: -apple-system, blinkmacsystemfont, 'Segoe UI', roboto,
    helvetica, arial, sans-serif;
  --rs-font-weight-normal: 400;
  --rs-font-weight-semibold: 600;
  --rs-font-weight-bold: 700;
  --rs-font-size-header: 2.4rem;
  --rs-font-size-body-l: 1.6rem;
  --rs-font-size-body: 1.4rem;
  --rs-font-size-caption: 1.3rem;
  --rs-space-micro: 2px;
  --rs-space-xsmall: 4px;
  --rs-space-small: 8px;
  --rs-space-medium: 16px;
  --rs-space-large: 24px;
  --rs-space-xlarge: 36px;
  --rs-space-xxlarge: 40px;
  --rs-border-radius-micro: 2px;
  --rs-border-radius-standart: 4px;
  --rs-border-radius-full: 8px;
  --rs-timing: ease-out 0.1s;

  font-size: 62.5%;
  font-family: var(--font-family);
  line-height: 1.5;
  font-weight: var(--rs-font-weight-normal);
  color: oklch(var(--rs-color-content-primary));
  background-color: oklch(var(--rs-fill-background));
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --rs-fill-background: 98.51% 0 0;
    --rs-fill-on-background: 100% 0 0;
    --rs-color-border-default: 89.75% 0 0;
    --rs-color-border-negative: 62.8% 0.2577 29.2339;
    --rs-color-content-primary: 26.86% 0 0;
    --rs-color-content-secondary: 61% 0 0;
    --rs-color-content-negative: 62.8% 0.2577 29.2339;
    --rs-button-primary-content: 100% 0 0;
    --rs-button-primary-fill: 62.9% 0.214 262.65;
    --rs-button-primary-fill-hover: 55.9% 0.214 262.65;
    --rs-link-color: 61.39% 0.196 262.65;
    --rs-link-color-hover: 51.39% 0.196 262.65;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --rs-fill-background: 0% 0 0;
    --rs-fill-on-background: 18.67% 0 0;
    --rs-color-border-default: 31.32% 0 0;
    --rs-color-border-negative: 62.8% 0.2577 29.2339;
    --rs-color-content-primary: 100% 0 0;
    --rs-color-content-secondary: 61% 0 0;
    --rs-color-content-negative: 62.8% 0.2577 29.2339;
    --rs-button-primary-content: 100% 0 0;
    --rs-button-primary-fill: 62.9% 0.214 262.65;
    --rs-button-primary-fill-hover: 55.9% 0.214 262.65;
    --rs-link-color: 61.39% 0.196 262.65;
    --rs-link-color-hover: 51.39% 0.196 262.65;
  }
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-size: var(--rs-font-size-body);
}

.link {
  font-weight: var(--rs-font-weight-semibold);
  color: oklch(var(--rs-link-color));
  text-decoration: inherit;
  transition: color var(--rs-timing);
}

.link:hover {
  color: oklch(var(--rs-link-color-hover));
}


input,
button,
textarea,
select {
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

h1 {
  font-size: var(--rs-font-size-header);
}

.mb-large {
  margin-bottom: var(--rs-space-large);
}

.text {
  font-family: var(--font-family);
  font-size: var(--rs-font-size-body);
  font-weight: var(--rs-font-weight-normal);
  color: oklch(var(--rs-color-content-primary));
}

.size-caption {
  font-size: var(--rs-font-size-caption);
}

.size-header {
  font-size: var(--rs-font-size-header);
}

.size-body-l {
  font-size: var(--rs-font-size-body-l);
}

.weight-bold {
  font-weight: var(--rs-font-weight-bold);
}

.tone-secondary {
  color: var(--color-content-secondary);
}

.tone-negative {
  color: oklch(var(--rs-color-content-secondary));
}

.border-negative {
  border-color: oklch(var(--rs-color-content-negative));
}

.color-negative {
  color: oklch(var(--rs-color-content-negative));
}

.weight-semi {
  font-weight: var(--rs-font-weight-semibold);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fullscreen {
  width: 100vw;
  height: 100vh;
}

.surface {
  width: 100%;
  border: 1px solid oklch(var(--rs-color-border-default));
  border-radius: var(--rs-border-radius-full);
  background-color: oklch(var(--rs-fill-on-background));
  padding: var(--rs-space-xlarge) 0;
}

.stretch {
  margin-left: var(--rs-space-xxlarge);
  margin-right: var(--rs-space-xxlarge);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 0 0 auto;
}

.query-container {
  container: card / inline-size;
  width: 100%;
}

.card{
  width: 350px;
  margin: auto;
}

@container (max-width: 480px) {
  .card {
    width: 100%;
  }
}
